:root {
  --primary-color: #00897b;
  --text-dark: #111;
  --text-light: #555;
  --bg-light: #f4f9f8;
}

body {
  /* font-family: "inter", sans-serif; */
  margin: 0;
  padding: 0;;
  /* line-height: 1.6; */
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

 /* .hero-section {
  background: radial-gradient(circle at top, #e0f2f1 0%, #ffffff 70%);
  padding: 80px 0;
} */

.main-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.sub-title {
  color: var(--text-light);
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.cta-button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 35px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s;
}

.cta-button:hover {
  transform: scale(1.05);
  background-color: #00796b;
}

.main-illustration {
  margin-top: 50px;
  position: relative;
}

.main-illustration img {
  max-width: 100%;
}

/* Steps Section */
.steps-section {
  padding: 100px 0;
  background-color: white;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-desc {
  color: var(--text-light);
  max-width: 700px;
  margin: 0 auto 60px;
}

.steps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.step-card {
  background-color: var(--bg-light);
  padding: 40px 30px;
  border-radius: 20px;
  transition: 0.3s;
}

.step-number {
  background-color: var(--primary-color);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  font-weight: bold;
}

.step-card h3 {
  margin-bottom: 15px;
  font-size: 1.25rem;
}

.step-card p {
  font-size: 0.95rem;
  color: var(--text-light);
}

/* Responsive */
@media (max-width: 768px) {
  .main-title {
    font-size: 2rem;
  }
  .steps-grid {
    grid-template-columns: 1fr;
  }
}
