*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary--color: #0e9384;
  --secondary--color: #ffeeeb;
  --background--color: white;
  --foreground--color: black;
  --spacing: 0.25rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1200px;
  max-width: calc(100% - 12rem);
  margin: 0 auto; /* center the container by use margin top and bottom 0 and left and right auto*/
}

a {
  text-decoration: none; /* remove the underline of the link*/
}

.btn {
  background-color: var(--primary--color);
  padding: 13px 17px;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 50px;
}

.price__btn {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
}

.heading {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  color: var(--foreground--color);
  line-height: 2;
}

.desc {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #000c;
  line-height: 1.5;
}

.main__title {
    margin-bottom: 50px;
  }

.price {
    display: flex;
    gap: 30px;
    font-size: 3rem;
    color: var(--primary--color);
  }
  
  .price__banner {
    width: 380px;
    height: 100%;
    background-color: #fff;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  
  .price__star {
    width: 16px;
    height: 16px;
  }
  .price__top {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    background-color: var(--primary--color);
    justify-content: center;
    padding: 14px 0;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  
  .price__desc {
    font-size: 1.4rem;
    color: var(--background--color);
    text-align: start;
  }
  
  .price__heading {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    margin-bottom: 20px;
  }
  .price__detail {
    padding: 30px;
    border: 2px solid var(--primary--color);
    border-radius: 0 0 0.75rem 0.75rem;
  }
  
  .price__logo {
    width: 70px;
    height: 65px;
    background: linear-gradient(
      139.65deg,
      rgba(115, 194, 158, 0.9) 7.94%,
      rgba(58, 112, 90, 0.9) 95.55%
    );
    box-shadow: rgba(90, 158, 129, 0.6) 0px 0px 17px 0px;
    border-radius: 0.75rem;
  }
  
  .price__logo01 {
    background-image: linear-gradient(
      139.65deg,
      #32bedae6 7.94%,
      #1379b1e6 95.55%
    );
    box-shadow: #1a81ad99 0px 0px 17px 0px;
  }
  .price__logo02 {
    background-image: linear-gradient(
      139.65deg,
      #f7b532e6 7.94%,
      #a2471ae6 95.55%
    );
    box-shadow: #cc8e2b99 0px 0px 17px 0px;
  }
  
  .price__logo--detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: var(--spacing);
  }
  .price__logo img {
    width: 50px;
    height: 30px;
  }
  
  .price__logo span {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--background--color);
  }
  
  .price__title--heading {
    text-align: start;
    font-size: 1.8rem;
  }
  
  .price__sales {
    display: flex;
    align-items: flex-end;
    gap: calc(var(--spacing) * 4);
  }
  
  .price__before {
    text-decoration: line-through;
    color: #a6a9a9;
    line-height: 1;
  }
  
  .price__current {
    line-height: 1;
  }
  
  .price__time {
    font-size: 1.7rem;
    font-weight: 400;
    color: #555;
    line-height: 1;
  }
  
  .price__info {
    font-size: 1.4rem;
    color: var(--foreground--color);
    text-align: start;
    margin: 20px 0;
  }
  
  .price__btn {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  
  .price__content {
    font-size: 1.6rem;
  }
  
  .price__content--gray {
    color: #6a7282;
  }
  
  .price__detail ul {
    margin-top: 15px;
  }
  
  .price__item {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    margin-bottom: 15px;
  }