/* mobile */
@media (max-width: 767.98px){}
/* tablet and mobile */
@media (max-width: 991.98px){}
/* PC */
@media (min-width: 992px){}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px){}
