body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('https://link.storjshare.io/raw/juqrxfnmsvqcn23i4s2vlbricxpa/root/banner/bg-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
/* FAQ HEADER */
.faq-header {
    text-align: center;
    margin: 150px 0 34px;

}

.faq-header h1 {
    font-size: 46px;
    margin-bottom: 26px;
}

/* FAQ SECTION */
.faq-section {
    max-width: 850px;
    width: 90%;
    margin: auto;
}

.faq-item {
    background: white;
    padding: 18px 20px;
    border-radius: 10px;
    margin-bottom: 22px;
    border: 1px solid #0E9384;
    position: relative;
}

.faq-item input {
    display: none;
}

.faq-title {
    font-weight: 200;
    display: block;
    cursor: pointer;
    padding-right: 25px;
    position: relative;
}

.faq-title::after {
    content: "◂";
    position: absolute;
    right: 0;
}

.faq-item input:checked + .faq-title::after {
    content: "▾";
}

.faq-content { 
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    padding-right: 20px;
    color: #555;
}

.faq-item input:checked ~ .faq-content {
    height: auto;
    margin-top: 10px;
}
