body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('https://link.storjshare.io/raw/juqrxfnmsvqcn23i4s2vlbricxpa/root/banner/bg-hero.png');
    background-size: cover;            
    background-position: center;       
    background-repeat: no-repeat;
    background-attachment: fixed;
}