body{
    background-image: url('https://link.storjshare.io/raw/juqrxfnmsvqcn23i4s2vlbricxpa/root/banner/bg-hero.png');
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0px;
    color: transparent;
}